#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
  margin: "24px 16px";
  padding: 24;
  min-height: 280;
}

.App {
  min-height: 100vh;
}

footer p {
  margin-bottom: 0.5em;
}

footer p a {
  margin-left: 0.75em;
  color: inherit;
  text-decoration: underline;
}
footer p a:hover {
  text-decoration: underline;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.article-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.article-loading {
  flex: 1;
  align-items: center;
  text-align: center;
}

.loading {
  flex: 1;
  flex-grow: 1;
}

.articleContent {
  padding-top: 30px;
}

.header-row {
  padding-right: 15px;
}
